/*
Nicholas Hansen helped with setting color scheme setup.
 */
.root {
    -fx-base: darkslategray;
}

.label {
    -fx-text-fill: #00ff00;
}

.table-cell, .list-cell, .text-area {
    -fx-text-fill: #1B00A5;
}